<div class="mt-5 px-4">
    <div class="card w-100 my-4">
        <div class="card-header border-0 bg-white">
            <h3 class="fw-bold m-0">1 Habitacion - 1 Cama King, Habitacion de Lujo</h3>
        </div>
        <div class="card-body row p-0 p-0 pb-2">
            <div class="col-3">
                <img src="assets/rooms/camaking.webp" class="float-start px-3" alt="" style="width:269px ; height:180px ;">
            </div>
            <div class="col-9 px-5">
                <div class="row align-items-center border-bottom border-primary" style="height: 90px;">
                    <div class="col-4">Member Flexible Rate</div>
                    <div class="col-4" style="text-align: end;">
                        <p class="fw-bold fs-2">176</p> 
                        USD/NIGHT
                    </div>
                    <div class="col-4" style="text-align: center;">
                        <a routerLink="reviewDetail">
                            <button type="button" class="btn btn-primary">Seleccionar</button>
                        </a>
                    </div>
                </div>
                <div class="row align-items-center" style="height: 90px;">
                    <div class="col-4">Flexible Rate</div>
                    <div class="col-4" style="text-align: end;">
                        <p class="fw-bold fs-2">190</p>
                         USD/NIGHT
                    </div>
                    <div class="col-4" style="text-align: center;"> 
                        <button type="button" class="btn btn-primary">Seleccionar</button> 
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="card w-100">
        <div class="card-header border-0 bg-white">
            <h3 class="fw-bold m-0">1 Habitacion - 1 Cama King, Habitacion de Lujo</h3>
        </div>
        <div class="card-body row p-0 pb-2">
            <div class="col-3">
                <img src="assets/rooms/camaKingGranDeluxe.webp" class="float-start px-3" alt="" style="width:269px ; height:180px ;">
            </div>
            <div class="col-9 px-5">
                <div class="row align-items-center border-bottom border-primary" style="height: 90px;">
                    <div class="col-4">Member Flexible Rate</div>
                    <div class="col-4" style="text-align: end;">
                        <p class="fw-bold fs-2">176</p> 
                        USD/NIGHT
                    </div>
                    <div class="col-4" style="text-align: center;">
                        <button type="button" class="btn btn-primary">Seleccionar</button>
                    </div>
                </div>
                <div class="row align-items-center" style="height: 90px;">
                    <div class="col-4">Flexible Rate</div>
                    <div class="col-4" style="text-align: end;">
                        <p class="fw-bold fs-2">329</p>
                         USD/NIGHT
                    </div>
                    <div class="col-4" style="text-align: center;"> 
                        <button type="button" class="btn btn-primary">Seleccionar</button> 
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="card w-100 my-4">
        <div class="card-header border-0 bg-white">
            <h3 class="fw-bold m-0">1 Habitacion - 1 Cama King, Habitacion de Lujo</h3>
        </div>
        <div class="card-body row p-0 pb-2">
            <div class="col-3">
                <img src="assets/rooms/camasQueen.webp" class="float-start px-3" alt="" style="width:269px ; height:180px ;">
            </div>
            <div class="col-9 px-5" >
                <div class="row align-items-center border-bottom border-primary" style="height: 90px;">
                    <div class="col-4">Member Flexible Rate</div>
                    <div class="col-4" style="text-align: end;">
                        <p class="fw-bold fs-2">322</p> 
                        USD/NIGHT
                    </div>
                    <div class="col-4" style="text-align: center;">
                        <button type="button" class="btn btn-primary">Seleccionar</button>
                    </div>
                </div>
                <div class="row align-items-center" style="height: 90px;">
                    <div class="col-4">Flexible Rate</div>
                    <div class="col-4" style="text-align: end;">
                        <p class="fw-bold fs-2">329</p>
                         USD/NIGHT
                    </div>
                    <div class="col-4" style="text-align: center;"> 
                        <a routerLink="reviewDetail"> <button type="button" class="btn btn-primary">Seleccionar</button> </a>
                    </div>
                </div>               
            </div>
        </div>
    </div>
    <div class="card w-100">
        <div class="card-header border-0 bg-white">
            <h3 class="fw-bold m-0">1 Habitacion - 1 Cama King, Habitacion de Lujo</h3>
        </div>
        <div class="card-body row p-0 pb-2">
            <div class="col-3">
                <img src="assets/rooms/camasQueenGranDeluxe.webp" class="float-start px-3" alt="" style="width:269px ; height:180px ;">
            </div>
            <div class="col-9 px-5">
                <div class="row align-items-center border-bottom border-primary" style="height: 90px;">
                    <div class="col-4">Member Flexible Rate</div>
                    <div class="col-4" style="text-align: end;">
                        <p class="fw-bold fs-2">322</p> 
                        USD/NIGHT
                    </div>
                    <div class="col-4" style="text-align: center;">
                        <button type="button" class="btn btn-primary">Seleccionar</button>
                    </div>
                </div>
                <div class="row align-items-center" style="height: 90px;">
                    <div class="col-4">Flexible Rate</div>
                    <div class="col-4" style="text-align: end;">
                        <p class="fw-bold fs-2">329</p>
                         USD/NIGHT
                    </div>
                    <div class="col-4" style="text-align: center;"> 
                        <button type="button" class="btn btn-primary">Seleccionar</button> 
                    </div>
                </div>    
            </div>
        </div>
    </div>
  
</div>
