<div>
    <div class="my-5 mx-4 px-4" >
        <div class="card border-primary w-100 my-4">
            <div class="card-header border-0 bg-white">
                <h3 class="fw-bold m-0" style="font-size:20px;">{{reservationServices.search.number_rooms}} Habitacion(es) - 1 Cama King, Habitacion de Lujo</h3>
            </div>
            <div class="card-body row p-0 pb-2">
                <div class="col-md-4 col-xs-12">
                    <img src="assets/rooms/camaking.webp" class="float-start px-3 img-fluid" alt="" style="width:380px ; height:220px ;">
                </div>
                <div class="col-md-8 col-xs-12 px-3">
                    <div class="row gx-5 gy-2 align-items-center" style="height: 110px;">
                        <div class="col-md-4 col-12"> <strong style="font-size: 16px ;">Member Flexible Rate</strong></div>
                        <div class="col-md-4 col-6">
                            <p class="fw-bold fs-2">380</p> USD/NIGHT
                        </div>
                        <div class="col-md-4 col-6">
                            <a routerLink="reviewDetail">
                                <button type="button" class="btn btn-primary">Seleccionar</button>
                            </a>
                        </div>
                    </div>
                    <div class="row gx-5 gy-2 align-items-center" style="height: 110px;">
                        <div class="col-md-4 col-12"> <strong style="font-size: 16px ;">Flexible Rate</strong></div>
                        <div class="col-md-4 col-6">
                            <p class="fw-bold fs-2">395</p> USD/NIGHT
                        </div>
                        <div class="col-md-4 col-6">
                            <a routerLink="reviewDetail">
                                <button type="button" class="btn btn-primary">Seleccionar</button>
                            </a>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        <div class="card border-primary w-100">
            <div class="card-header border-0 bg-white">
                <h3 class="fw-bold m-0" style="font-size:20px;">{{reservationServices.search.number_rooms}} Habitacion(es) - 1 Cama King Gran Deluxe, Habitacion de Lujo</h3>
            </div>
            <div class="card-body row p-0 pb-2">
                <div class="col-md-4 col-xs-12">
                    <img src="assets/rooms/camaKingGranDeluxe.webp" class="float-start px-3 img-fluid" alt="" style="width:380px ; height:220px ;">
                </div>
                <div class="col-md-8 col-xs-12 px-3">
                    <div class="row gx-5 gy-2 align-items-center" style="height: 110px;">
                        <div class="col-md-4 col-12"> <strong style="font-size: 16px ;">Member Flexible Rate</strong></div>
                        <div class="col-md-4 col-6">
                            <p class="fw-bold fs-2">400</p> USD/NIGHT
                        </div>
                        <div class="col-md-4 col-6">
                            <a routerLink="reviewDetail">
                                <button type="button" class="btn btn-primary">Seleccionar</button>
                            </a>
                        </div>
                    </div>
                    <div class="row gx-5 gy-2 align-items-center" style="height: 110px;">
                        <div class="col-md-4 col-12"> <strong style="font-size: 16px ;">Flexible Rate</strong></div>
                        <div class="col-md-4 col-6">
                            <p class="fw-bold fs-2">420</p> USD/NIGHT
                        </div>
                        <div class="col-md-4 col-6">
                            <a routerLink="reviewDetail">
                                <button type="button" class="btn btn-primary">Seleccionar</button>
                            </a>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        <div class="card border-primary w-100 my-4">
            <div class="card-header border-0 bg-white">
                <h3 class="fw-bold m-0" style="font-size:20px;">{{reservationServices.search.number_rooms}} Habitacion(es) - 1 Cama Queen, Habitacion de Lujo</h3>
            </div>
            <div class="card-body row p-0 pb-2">
                <div class="col-md-4 col-xs-12">
                    <img src="assets/rooms/camasQueen.webp" class="float-start px-3 img-fluid" alt="" style="width:380px ; height:220px ;">
                </div>
                <div class="col-md-8 col-xs-12 px-3">
                    <div class="row gx-5 gy-2 align-items-center" style="height: 110px;">
                        <div class="col-md-4 col-12"> <strong style="font-size: 16px ;">Member Flexible Rate</strong></div>
                        <div class="col-md-4 col-6">
                            <p class="fw-bold fs-2">450</p> USD/NIGHT
                        </div>
                        <div class="col-md-4 col-6">
                            <a routerLink="reviewDetail">
                                <button type="button" class="btn btn-primary">Seleccionar</button>
                            </a>
                        </div>
                    </div>
                    <div class="row gx-5 gy-2 align-items-center" style="height: 110px;">
                        <div class="col-md-4 col-12"> <strong style="font-size: 16px ;">Flexible Rate</strong></div>
                        <div class="col-md-4 col-6">
                            <p class="fw-bold fs-2">470</p> USD/NIGHT
                        </div>
                        <div class="col-md-4 col-6">
                            <a routerLink="reviewDetail">
                                <button type="button" class="btn btn-primary">Seleccionar</button>
                            </a>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        <div class="card border-primary w-100 my-4">
            <div class="card-header border-0 bg-white">
                <h3 class="fw-bold m-0" style="font-size:20px;">{{reservationServices.search.number_rooms}} Habitacion(es) - 1 Cama Queen Gran Deluxe, Habitacion de Lujo</h3>
            </div>
            <div class="card-body row p-0 pb-2">
                <div class="col-md-4 col-xs-12">
                    <img src="assets/rooms/camasQueenGranDeluxe.webp" class="float-start px-3 img-fluid" alt="" style="width:380px ; height:220px ;">
                </div>
                <div class="col-md-8 col-xs-12 px-3">
                    <div class="row gx-5 gy-2 align-items-center" style="height: 110px;">
                        <div class="col-md-4 col-12"> <strong style="font-size: 16px ;">Member Flexible Rate</strong></div>
                        <div class="col-md-4 col-6">
                            <p class="fw-bold fs-2">470</p> USD/NIGHT
                        </div>
                        <div class="col-md-4 col-6">
                            <a routerLink="reviewDetail">
                                <button type="button" class="btn btn-primary">Seleccionar</button>
                            </a>
                        </div>
                    </div>
                    <div class="row gx-5 gy-2 align-items-center" style="height: 110px;">
                        <div class="col-md-4 col-12"> <strong style="font-size: 16px ;">Flexible Rate</strong></div>
                        <div class="col-md-4 col-6">
                            <p class="fw-bold fs-2">490</p> USD/NIGHT
                        </div>
                        <div class="col-md-4 col-6">
                            <a routerLink="reviewDetail">
                                <button type="button" class="btn btn-primary">Seleccionar</button>
                            </a>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        <div class="card border-primary w-100">
            <div class="card-header border-0 bg-white">
                <h3 class="fw-bold m-0" style="font-size:20px;">{{reservationServices.search.number_rooms}} Habitacion(es) - 1 Cama King, Suite Principal</h3>
            </div>
            <div class="card-body row p-0 pb-2">
                <div class="col-md-4 col-xs-12">
                    <img src="assets/rooms/SuitePrincipal.webp" class="float-start px-3 img-fluid" alt="" style="width:380px ; height:220px ;">
                </div>
                <div class="col-md-8 col-xs-12 px-3">
                    <div class="row gx-5 gy-2 align-items-center" style="height: 110px;">
                        <div class="col-md-4 col-12"> <strong style="font-size: 16px ;">Member Flexible Rate</strong></div>
                        <div class="col-md-4 col-6">
                            <p class="fw-bold fs-2">470</p> USD/NIGHT
                        </div>
                        <div class="col-md-4 col-6">
                            <a routerLink="reviewDetail">
                                <button type="button" class="btn btn-primary">Seleccionar</button>
                            </a>
                        </div>
                    </div>
                    <div class="row gx-5 gy-2 align-items-center" style="height: 110px;">
                        <div class="col-md-4 col-12"> <strong style="font-size: 16px ;">Flexible Rate</strong></div>
                        <div class="col-md-4 col-6">
                            <p class="fw-bold fs-2">490</p> USD/NIGHT
                        </div>
                        <div class="col-md-4 col-6">
                            <a routerLink="reviewDetail">
                                <button type="button" class="btn btn-primary">Seleccionar</button>
                            </a>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        <div class="card border-primary w-100 my-4">
            <div class="card-header border-0 bg-white">
                <h3 class="fw-bold m-0" style="font-size:20px;">{{reservationServices.search.number_rooms}} Habitacion(es) - 1 Cama King, Suite Ejecutiva</h3>
            </div>
            <div class="card-body row p-0 pb-2">
                <div class="col-md-4 col-xs-12">
                    <img src="assets/rooms/suiteEjecutiva.webp" class="float-start px-3 img-fluid" alt="" style="width:380px ; height:220px ;">
                </div>
                <div class="col-md-8 col-xs-12 px-3">
                    <div class="row gx-5 gy-2 align-items-center" style="height: 110px;">
                        <div class="col-md-4 col-12"> <strong style="font-size: 16px ;">Member Flexible Rate</strong></div>
                        <div class="col-md-4 col-6">
                            <p class="fw-bold fs-2">470</p> USD/NIGHT
                        </div>
                        <div class="col-md-4 col-6">
                            <a routerLink="reviewDetail">
                                <button type="button" class="btn btn-primary">Seleccionar</button>
                            </a>
                        </div>
                    </div>
                    <div class="row gx-5 gy-2 align-items-center" style="height: 110px;">
                        <div class="col-md-4 col-12"> <strong style="font-size: 16px ;">Flexible Rate</strong></div>
                        <div class="col-md-4 col-6">
                            <p class="fw-bold fs-2">490</p> USD/NIGHT
                        </div>
                        <div class="col-md-4 col-6">
                            <a routerLink="reviewDetail">
                                <button type="button" class="btn btn-primary">Seleccionar</button>
                            </a>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>

