<div class="mt-5 px-4">
    <h3>REVIEW RESERVATION DETAILS</h3>
    <div class="card w-75 my-4">
        <div class="card-body row p-0 p-0 pb-2">
            <div class="col-7">
                <img src="assets/rooms/camaking.webp" class="float-start" alt="" >
            </div>
            <div class="col-3 px-5 py-1">
                <div class="py-4">
                    1 Cama King, Habitacion de Lujo
                </div> 
                <p class="m-0 py-3">
                    <strong>Check In:</strong> 14/06/2022
                </p>
                <p class="m-0 py-3">
                    <strong>Check Out:</strong> 18/06/2022
                </p>
                <p class="m-0 py-3">
                    <strong>Room(s):</strong> 1 Habitacion
                </p>
                <p class="m-0 py-3">
                    <strong>Guest per room:</strong> 1 Persona
                </p>
            </div>
        </div>
        <div class="row px-5 py-3">
            <div class="col"><strong>Summary of Charges : </strong></div>
            <div class="col"> 1 x 176 USD</div>
            <div class="col">
                <button class="btn btn-primary btn-sl rounded-pill" (click)="reservar()">Pagar</button>
            </div>
            
        </div>
        
    </div>
</div>
aaa
aa